<!DOCTYPE html>
<html>
  {% load static %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">  </head>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    {% if user.is_authenticated %}
      <div class="header">
        <img src="{% static 'img/logo.svg' %}" height="140" width="240" />
        <a href="{% url 'logout' %}"> Выход <img src="{% static 'img/logout.svg' %}" height="50" width="50" /></a>
        <a href="{% url 'index:change' %}"> Смена пароля</a>
      </div> 
    {% else %}
      <div class="header">
        <img src="{% static 'img/logo.svg' %}" height="140" width="240" />
      </div> 
    {% endif %}


  </head>

  <body>
    <div class="topnav">
          {% if user.is_authenticated %}
            <topnav><a href="{% url 'index' %}">Главная</a></topnav>
            <topnav><a href="{% url 'index:sip' %}">Добавление sip аккаунта</a></topnav>          
          {% else %}
            <topnav><a href="{% url 'index:login' %}">Вход</a></topnav>
          {% endif %}
      </div>
    {% block body_block %}
    {% endblock %}
    </div>
  </body>
</html>