{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Login</h1>
        <form class="form-inline" method="post" action="{% url 'index:login' %}">
          {% csrf_token %}
          
          <label for="username">Имя пользователя:</label>
          <input type="text" name="username" placeholder="Username">
          
          <label for="password">Пароль:</label>
          <input type="password" name="password" placeholder="Password">  
          
          <button type="submit">Войти</button>
        </form>
</div>
  </div>
{% endblock %}
