{% extends 'base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Sip</h1>
        <form class="form-inline" method="post" action="{% url 'index:sip' %}">
          {% csrf_token %}
          <label for="sip_name">Имя SIP аккаунта:</label>
          <input type="text" name="sip_name" placeholder="sip_name">
          <label for="sip_pass">Пароль SIP аккаунта:</label>
          <input type="text" name="sip_pass" placeholder="sip_pass">
          <button type="submit">Добавить нового SIP пользователя</button>
</form>
</div>
  </div>
{% endblock %}
