header{
 width: 100%;
 height: 130px;
}
.header {
  text-align: left;
  background: #ffbf1c;
  color: white;
  font-size: 30px;
}
.header a{
  float: right;
  color: #000000;
  padding: 30px 0;
  width: 400px;
  height: 60px;
  text-decoration: none;
  text-align: center;  
  align-items: center;
  display:flex;
  line-height: 42px;
  margin: 10px 0px;
  font-size: 36px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: white;
  color: #000000;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display:Inline-block;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

h1 { 
  text-align: center 
}

form {
  display: inline-block;
}


.form-inline {  
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  width: 324px;
  height: 27px;   
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #d1e6ff;
  border-radius: 7px;
  box-sizing: border-box;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #ffe49d;
  color: black;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 55.5px;
}

.form-inline button:hover {
  background-color: #d1c29b;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}